<a href="https://colab.research.google.com/github/anitaRamirez1/PrograIII-2025/blob/main/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
print("bienvenidos chicos a progrmacin computacional III")

hola mundo
bienvenidos chicos a progrmacin computacional III

In [ ]:
nombre = "Anita Ramirez"
edad = 18
print("hola", nombre, edad)
edad = "quince"
print("tu edad es: ", edad)

hola Anita Ramirez 18
tu edad es:  quince

In [ ]:
num1 = 5
num2 = 5.5
suma = num1 + num2
print("la suma es: ", suma)

la suma es:  10.5

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 + num2
print("la suma es: ", suma)

num1: 5
num2: 5
la suma es:  10.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
resta = num1 - num2
print("la resta es: ", resta)

num1: 5
num2: 5
la resta es:  0.0

In [ ]:
def resta(num1, num2):
  return num1 - num2

In [ ]:

a = float(input ("nuum1 "))
b = float(input("num2 "))
respuesta1 = resta(a,b)
print("la resta es: ", respuesta1)

nuum1 5
num2 3
la resta es:  2.0

In [ ]:
#de celcius a farenhei
def celciusFarerenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("grados c: "))
f =celciusFarerenheit(c)
print("f : ", f)

grados c: 38
f :  100.4

In [ ]:
#de  farenhei a celcius

def FarerenheitCelcius(F):
  return (F - 32)* 0.555556
F = int(input("grados c: "))
c =FarerenheitCelcius(F)
print("c : ", c)

In [ ]:
#de  farenhei a celcius y viceversa

def FarerenheitCelcius(F):
  return (F - 32)* 5/9
F = float(input("grados f: "))
c =FarerenheitCelcius(F)
print("c : ", c)


f =celciusFarerenheit(c)
print("f : ", f)

grados f: 100.4
f :  38.00003040000001
c :  100.40005472000001

In [ ]:

def FarerenheitCelcius(F):
  return (F - 32)* 5/9


F = float(input("grados f: "))
c =FarerenheitCelcius(F)
print("c : ", c)

grados f: 100.4
c :  38.0

In [ ]:
#grados celcius a kelin
def CelciusKelvin(c):
 return c +273.15
c = float(input("grados c: "))
k = CelciusKelvin(c)

print("k: ", k)

grados c: 35
k:  308.15

In [ ]:
#calcular el sueldo de un empleado segun el numero de horas trabajadas yel valor por horas


def sueldo(numHrs, valorXhrs):
  sueldo = numHrs*valorXhrs * 30

  return sueldo

In [ ]:
numHrs = float(input(" Hrs: "))
valorXhrs = float(input(" valor Hrs: "))
sueldo = sueldo(numHrs, valorXhrs)
print("sueldo: ", sueldo)

 Hrs: 8
 valor Hrs: 10
sueldo:  2400.0

In [ ]:
#que permita elevar un numero a un exponente

def exponenciacion(b,e):
  return b**e


b = float(input("base "))
e = float(input("expnente "))
resultado = exponenciacion(b,e)
print("el numero ", b, "elevado a ", e, "el resultado es: ", resultado)

base 8
expnente 3
el numero  8.0 elevado a  3.0 el resultado es:  512.0

In [2]:
a = float(input("num1 "))
b = float(input("num2 "))

sum = lambda a,b: a+b
print ("la suma de",a, "mas ", b, "es igual, ",sum(a,b))

num1 5
num2 2
la suma de 5.0 mas  2.0 es igual,  7.0

In [8]:
numeros = [2,4,6,8,7,9]
potencia = int(input("potencia: "))
numeropotencia = map(lambda num: num**potencia, numeros)

print(list(numeropotencia))

potencia: 2
[4, 16, 36, 64, 49, 81]

In [6]:
ntablas = int(input("tabla: "))
numeros = [1,2,3,4,5,6,7,8,9]
tabla = map(lambda num: num*ntablas, numeros)

print(list(tabla))

tabla: 3
[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [12]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2 ==0,serie)
print(list(pares))


impares = filter(lambda num: num%2!=0, serie)
print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [18]:
serieUser= input("serie: ")
serieUser = serieUser.split(",")
pares = filter(lambda num: int(num)%2==0, serieUser)

print(list(pares))

serie: 1,5,2,9,1
['2']

In [21]:
serieUser= input("notas: ")
serieUser = serieUser.split(",")
aprovados = filter(lambda num: float(num)>5, serieUser)

print(list(aprovados))

notas: 2,5,6.1,6,8
['6.1', '6', '8']