<a href="https://colab.research.google.com/github/anitaRamirez1/PrograIII-2025/blob/main/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos chicos a Programacion Computacional III")

Hola Mundo
Bienvenidos chicos a Programacion Computacional III

In [ ]:
nombre = "Luis Hernandez"
edad = 5
print(nombre, edad)

edad = "cinco"
print("Tu edad: ", edad)

Luis Hernandez 5
Tu edad:  cinco

In [ ]:
num1 = 5
num2 = 8.9
suma = num1 + num2
print("La suma es: ", suma)

La suma es:  13.9

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
suma = num1 + num2
print("La suma es: ", suma)

Num1: 5
Num2: 6
La suma es:  11.0

**TIPOS DE DATOS EN PYTHON**

In [ ]:
#ENTERO
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#DECIMAL
num2 = 7.5
print(num2, "Esto es un numero decimal")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un booleano")

#CADENA
nombre = "Luis Hernandez"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

6 Esto es un numero entero
6 Esto es un entero
7.5 Esto es un numero decimal
True Esto es un booleano
Dime una cadena: Hola
Dime un valor: 4
Luis Hernandez Esto es una cadena Hola
Luis Hernandez Letra inicial L Un valor especifico H rango Luis Comenzar desde el final z
Hernandez Luis
<class 'str'>
2025-07-28 13:49:35.455377 2025-07-28 13:49:35.455377
<class 'datetime.datetime'>

In [ ]:
#FECHAS
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-28 14:03:11.210910 2025-07-28 14:03:11.210910
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 01-01-2025
2025-01-01 00:00:00

**FUNCIONES EN PYTHON**

In [ ]:
#Suma
def suma(num1, num2):
  return num1 + num2

La suma de 5 + 8 =  13

In [ ]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 8
Num2: 6
La suma es:  14.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de las funciones, que reste dos numeros introducidos por el usuario. TAREA.

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a Farenheit.
def celsiusFarenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("Grados c: "))
f = celsiusFarenheit(c)
print("F: ", f)

Grados c: 38
F:  100.4

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Farenheit a Celsius.
def farenheitCelsius(f):
  return (f-32) * 5/9

f = float(input("F: "))
c = farenheitCelsius(f)
print("C: ", c)

F: 100
C:  37.77777777777778

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Celsius a Kelvin.
def celsiusKelvin(c):
  return c + 273.15

c = float(input("C: "))
k = celsiusKelvin(c)
print("K: ", k)

C: 35
K:  308.15

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que calcule
#el sueldo de un empleado, segun el numero de hrs trabajas y el valor por hora
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [ ]:
numHrs = float(input("Hrs: "))
valorXhr = float(input("Valor Xhr: "))
sueldo = sueldo(numHrs, valorXhr)

print("Sueldo: ", sueldo)

Hrs: 8
Valor Xhr: 10
Sueldo:  2400.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que permita elevar un numero a un exponente
def expoenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = expoenciacion(b,e)
print("El Numero: ", b, ", elevado a ",e, ", el resultado es: ", resultado)

Base: 8
Exponente: 3
El Numero:  8.0 , elevado a  3.0 , el resultado es:  512.0

**FUNCIONES ANONIMAS**

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

Num1: 5
Num2: 6
La suma es:  11.0

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print( "La suma de ", a, " mas b ", b, " es igual ", sum(a,b) )

Num1: 5
Num2: 6
La suma de  5.0  mas b  6.0  es igual  11.0

**FUNCIONES PRECONSTRUIDAS**

In [ ]:
def extraerPrimeraLetra(dia):
  return dia[0]

In [ ]:
#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 2
[4, 16, 36, 64, 49, 81]

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

Tabla:9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

[6, 2, 8]

In [ ]:

serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Serie: 5,2,8,1,9
Pares:  ['2', '8']
Impares:  ['5', '1', '9']

Hacer un ejercicio en python usando la funcion filter y lambda que de una seria de notas introducidas por el usuario, establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

In [ ]:
#reduce
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda acum, num: num+acum, numeros)

sumaPares = reduce(lambda acum, num: num+acum, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda acum, num: acum + num if num%2==0 else acum, numeros,0)

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  20

**TUPLAS**

In [ ]:
tupla = (5,2,3,7,8,5)
#tupla[0] = 1
print("Tupla: ", tupla, "Primer elemento: ", tupla[0], "El numero 5 parece ", tupla.count(5))
print("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla[0:5])

Tupla:  (5, 2, 3, 7, 8, 5) Primer elemento:  5 El numero 5 parece  2
Ultimo elemento:  5
Rango:  (5, 2, 3, 7, 8)

In [ ]:
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado")
meses = ("", "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "del", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

Martes 12 del Agosto del 2025
2025-08-12 2 Martes
12 8 2025

**LISTAS**

In [ ]:
lista = [5,8,9,4, "Progra III", True, [4,8,9, [8,9,4]]]
print(lista)

[5, 8, 9, 4, 'Progra III', True, [4, 8, 9, [8, 9, 4]]]

In [ ]:
def calcularPromedio(nota, notas):
  return notas[1]*notas[2] + nota # 8*0.3 + 9*0.3 + 10*0.3

In [ ]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I, haciendo uso de las listas y de las funciones.
from functools import reduce
#estudiante...
notas = [
    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial1", 10, 0.4],

    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial2", 10, 0.4],

    ["Lab1", 10, 0.3],
    ["Lab2", 10, 0.3],
    ["Parcial3", 10, 0.4]
  ]
prom = reduce(calcularPromedio, notas, 0)
nf = prom / 3
print("Nota Final de Progra III: ", nf)

Nota Final de Progra III:  10.0

In [ ]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I,
#donde el usuario va introducir las notas, haciendo uso de las listas y de las funciones.
from functools import reduce

notas = []
for i in range(1,4):
  nota = float(input("Act: "+ str(i) + ": "))
  porcentaje = float(input("Porcentaje: "))
  notas.append(["Act. "+ str(i), nota, porcentaje])

prom = reduce(calcularPromedio, notas, 0)
print("Nota Final de C1 ", prom)

Act: 1: 7
Porcentaje: 0.3
Act: 2: 9
Porcentaje: 0.3
Act: 3: 10
Porcentaje: 0.4
Nota Final de C1  8.8

In [ ]:
#sort
valores = [5,8,9,1,3,4,7]

print(valores, "Lista original")

valores.sort()
print(valores, "POrdenados de menor a mayor")

valores.reverse()
print(valores, "Ordenados de mayor a menor")

#valores.sort(reverse=True)
#print(valores, "Ordenados de mayor a menor")

[5, 8, 9, 1, 3, 4, 7] Lista original
[1, 3, 4, 5, 7, 8, 9] POrdenados de menor a mayor
[9, 8, 7, 5, 4, 3, 1] Ordenados de mayor a menor

**DICCIONARIOS - JSON**

In [ ]:
persona = {
  "codigo": "USIS018804",
  "nombre": "Luis Hernandez",
  "materias": [
    {
      "codigo": 611,
      "nombre": "Programacion I",
      "notas":{
        "c1": {"lab1":8, "lab2":9.9, "parcial":10},
        "c2": {"lab1":7.78, "lab2":6.5, "parcial":8},
        "c3": {"lab1":10, "lab2":9, "parcial":9}
      }
    },
    {
      "codigo": 612,
      "nombre": "Programacion II",
      "notas":{
        "c1": {"lab1":5, "lab2": 7, "parcial":9},
        "c2": {"lab1":9, "lab2": 6, "parcial": 10},
        "c3": {"lab1":10, "lab2": 10, "parcial": 9}
      }
    }
  ]
}
print(persona["nombre"], "->", persona["materias"][0]["nombre"], "-> CI: ",
      persona["materias"][0]["notas"]["c1"],
      persona["materias"][0]["notas"]["c1"]["lab1"]
      )

Luis Hernandez -> Programacion I -> CI:  {'lab1': 8, 'lab2': 9.9, 'parcial': 10} 8

**ESTRUCTURAS DE CONTROL**

In [ ]:
#if
#hacer un ejercicio en python que permita clasificar las edades segun su rango
edad = int(input("Edad: "))
if(edad<0):
  print("Error al ingresar la edad, solo valores positivos.")
elif(edad<=2):
  print("Eres un bebe...")
elif(edad<=11):
  print("Eres un niño...")
elif(edad<18):
  print("Eres un adolescente...")
elif(edad<65):
  print("Eres un adulto responsable...")
elif(edad<85):
  print("Eres un adulto mayor...")
else:
  print("Larga vida...")

Edad: 90
Larga vida...

In [ ]:
#Determinar si un numero introducido por el usuario es primo
num = int(input("Num: "))

acum = 0
i=1
while i<=num and acum<=2:
  if( num%i==0 ):
    acum+=1
  i+=1
if(acum<=2):
  print("El numero ", num, " ES primo")
else:
  print("El numero ", num, " NO es primo")

Num: 97
El numero  97  ES primo

In [ ]:
#Generar la tabla de multiplicar de un numero dado por el usuario.
continuar="s"
while(continuar=="s"):
  ntabla = int(input("Tabla: "))
  for i in range(1,11):
    print(ntabla, "x", i, "=", ntabla*i)
  continuar = input("Copntinuar s, sino cualquier tecla: ")

Tabla: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Copntinuar s, sino cualquier tecla: s
Tabla: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Copntinuar s, sino cualquier tecla:

**PROGRAMACION ORIENTADA A OBJETOS**



*   CLASES

In [ ]:
class calculadora:
  def sumar(num1, num2):
    return num1+num2



*   OBJETO

In [ ]:
objCalculadora = calculadora() #creamos el objeto apartir de la clase
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print(num1, "+", num2, "=", calculadora.sumar(num1, num2))

Num1: 8
Num2: 5
8.0 + 5.0 = 13.0

In [ ]:
#Hecer un programa que lea una serie de numero introeducidos por el usuario y determine la media artimetica.
from math import sqrt
class estadistica:
  def media(self, serie):
    suma = 0
    for num in serie:
      suma += int(num)
    return suma/len(serie)

  def tipica(self, serie):
    media = self.media(serie)
    suma = 0
    for num in serie:
      suma += (int(num)-media)**2
    return sqrt( suma/len(serie) )

In [ ]:
serie = input("Serie ejem: 1,5,2,3: ").split(",")
objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie), "la desvicacion tipica es: ", round(objEstadistica.tipica(serie), 2) )

Serie ejem: 1,5,2,3: 1,2,3,4,5
La media es:  3.0 la desvicacion tipica es:  1.41

**TAREA**



1.   Encontrar la varianza en una serie de numeros introducidos por el usuario.
2.   Encontrar la frecuencia en una serie de numeros introducidos por el usuario.
3.   Escriba un programa que determine si una palabra es palinbdrome. Ejm. ana, oso, oro, reconocer, bob, somos, ala, salas, etc.

In [ ]:
#Crear un programa que calcule el mayor y el menor de n numeros.

class calculadora:
  def mayor_menor(self, serie):
    return max(serie), min(serie)

In [ ]:
calcular = calculadora()
serie = input("Serie ejm: 1,5,4,9,3: ").split(",")
nMayor, nMenor = calcular.mayor_menor(serie)
print("El Mayor es: ", nMayor, "el menor es: ", nMenor)

Serie ejm: 1,5,4,9,3: 8,9,4,7
El Mayor es:  9 el menor es:  4

In [ ]:
#Encontrar la persona de mayor edad en una lista de datos.
personas = [
    {"nombre":"Luis", "edad": 30},
    {"nombre":"Juan", "edad": 40},
    {"nombre":"jorge", "edad": 20},
    {"nombre":"Jose", "edad": 10},
]

In [7]:
def calcular_impuesto_actividades_economicas(monto_actividad):
    """
    Calcula el IMPUESTO A LAS ACTIVIDADES ECONÓMICAS de acuerdo con la tabla dada.
    """
    tabla_impuestos = [
        (0.01, 500, 1.5, 0),
        (500.01, 1000, 1.5, 3),
        (1000.01, 2000, 3, 3),
        (2000.01, 3000, 6, 3),
        (3000.01, 6000, 9, 2),
        (8000.01, 18000, 15, 2),
        (18000.01, 30000, 39, 2),
        (30000.01, 60000, 63, 1),
        (60000.01, 100000, 93, 0.8),
        (100000.01, 200000, 125, 0.7),
        (200000.01, 300000, 195, 0.6),
        (300000.01, 400000, 255, 0.45),
        (400000.01, 500000, 300, 0.4),
        (500000.01, 1000000, 340, 0.30),
        (1000000.01, 99999999, 490, 0.18)
    ]

    for desde, hasta, precio, adicional in tabla_impuestos:
        if desde <= monto_actividad <= hasta:
            if adicional == 0:
                return precio
            else:
                impuesto = ((monto_actividad - desde) / 1000 * adicional) + precio
                return round(impuesto, 2)
    return "Monto fuera de los rangos definidos."

def convertir_area(cantidad, origen, destino):
    """
    Convierte unidades de área basadas en las medidas de El Salvador.
    """
    unidades = {
        "pie cuadrado": 0.092903,
        "vara cuadrada": 0.6987,
        "yarda cuadrada": 0.836127,
        "metro cuadrado": 1.0,
        "tarea": 437.5, # Valor corregido: 1/16 de una manzana.
        "manzana": 7000.0, # 7,000 m2
        "hectárea": 10000.0
    }

    origen_lower = origen.lower()
    destino_lower = destino.lower()

    if origen_lower not in unidades or destino_lower not in unidades:
        return None

    cantidad_en_m2 = cantidad * unidades[origen_lower]
    resultado = cantidad_en_m2 / unidades[destino_lower]
    return resultado

def simular_cajero(monto_a_retirar):
    """
    Simula la dispensación de billetes y monedas.
    """
    try:
        cantidad = float(monto_a_retirar)
    except ValueError:
        print("Entrada inválida. Por favor, ingrese un número.")
        return

    if cantidad <= 0:
        print("El monto a retirar debe ser un número positivo.")
        return

    print(f"\nDesglose para ${cantidad:.2f}:")
    denominaciones_billetes = [100, 50, 20, 10, 5, 1]
    denominaciones_monedas = [0.25, 0.10, 0.05, 0.01]
    cantidad_restante = cantidad

    for billete in denominaciones_billetes:
        if cantidad_restante >= billete:
            cantidad_billetes = int(cantidad_restante // billete)
            print(f"{cantidad_billetes} billete(s) de a ${billete}")
            cantidad_restante %= billete

    cantidad_restante_centavos = round(cantidad_restante * 100)
    for moneda_centavos in [int(m * 100) for m in denominaciones_monedas]:
        if cantidad_restante_centavos >= moneda_centavos:
            cantidad_monedas = int(cantidad_restante_centavos // moneda_centavos)
            valor_moneda_dolar = moneda_centavos / 100
            print(f"{cantidad_monedas} moneda(s) de a ${valor_moneda_dolar:.2f} ctvs.")
            cantidad_restante_centavos %= moneda_centavos

def main():
    while True:
        print("\n--- Parcial I INGENIERIA EDU-ANA ---")
        print("1. Cálculo de Impuesto ")
        print("2. Conversor de Área ")
        print("3. Cajero Automático")
        print("4. Exit")
        opcion = input("Seleccione una opción: ")

        if opcion == "1":
            try:
                monto_input = float(input("Ingrese el monto de la actividad económica: $"))
                impuesto = calcular_impuesto_actividades_economicas(monto_input)
                if isinstance(impuesto, str):
                    print(f"Error: {impuesto}")
                else:
                    print(f"El valor a pagar es: ${impuesto:.2f}")
            except ValueError:
                print("Entrada inválida. Por favor, ingrese un número.")
        elif opcion == "2":
            print("Unidades disponibles: Pie Cuadrado, Vara Cuadrada, Yarda Cuadrada, Metro Cuadrado, Tarea, Manzana, Hectárea.")
            try:
                cantidad_area = float(input("Ingrese la cantidad a convertir: "))
                unidad_origen = input("Ingrese la unidad de origen: ")
                unidad_destino = input("Ingrese la unidad de destino: ")
                resultado_area = convertir_area(cantidad_area, unidad_origen, unidad_destino)
                if resultado_area is None:
                    print("Una o ambas unidades de área no son válidas. Por favor, verifique.")
                else:
                    print(f"{cantidad_area} {unidad_origen.capitalize()} = {resultado_area:.4f} {unidad_destino.capitalize()}")
            except ValueError:
                print("Entrada inválida. Por favor, ingrese un número para la cantidad.")
        elif opcion == "3":
            try:
                monto_retirar = float(input("Ingrese la cantidad a retirar: $"))
                simular_cajero(monto_retirar)
            except ValueError:
                print("Entrada inválida. Por favor, ingrese un número.")
        elif opcion == "4":
            print("Gracias por usar el programa.")
            break
        else:
            print("Opción inválida. Intente nuevamente.")

if __name__ == "__main__":
    main()

--- Parcial I INGENIERIA EDU-ANA ---
1. Cálculo de Impuesto
2. Conversor de Área
3. Cajero Automático
4. Exit
Seleccione una opción: 1
Ingrese el monto de la actividad económica: $1875.79
El valor a pagar es: $5.63

--- Parcial I INGENIERIA EDU-ANA ---
1. Cálculo de Impuesto
2. Conversor de Área
3. Cajero Automático
4. Exit
Seleccione una opción: 1
Ingrese el monto de la actividad económica: $20000
El valor a pagar es: $43.00

--- Parcial I INGENIERIA EDU-ANA ---
1. Cálculo de Impuesto
2. Conversor de Área
3. Cajero Automático
4. Exit
Seleccione una opción: 2
Unidades disponibles: Pie Cuadrado, Vara Cuadrada, Yarda Cuadrada, Metro Cuadrado, Tarea, Manzana, Hectárea.
Ingrese la cantidad a convertir: 1
Ingrese la unidad de origen: manzana
Ingrese la unidad de destino: tarea
1.0 Manzana = 16.0000 Tarea

--- Parcial I INGENIERIA EDU-ANA ---
1. Cálculo de Impuesto
2. Conversor de Área
3. Cajero Automático
4. Exit
Seleccione una opción: 2
Unidades disponibles: Pie Cuadrado, Vara Cuadrada, Yarda Cuadrada, Metro Cuadrado, Tarea, Manzana, Hectárea.
Ingrese la cantidad a convertir: 1
Ingrese la unidad de origen: tarea
Ingrese la unidad de destino: metro cuadrado
1.0 Tarea = 437.5000 Metro cuadrado

--- Parcial I INGENIERIA EDU-ANA ---
1. Cálculo de Impuesto
2. Conversor de Área
3. Cajero Automático
4. Exit
Seleccione una opción: 3
Ingrese la cantidad a retirar: $99.89

Desglose para $99.89:
1 billete(s) de a $50
2 billete(s) de a $20
1 billete(s) de a $5
4 billete(s) de a $1
3 moneda(s) de a $0.25 ctvs.
1 moneda(s) de a $0.10 ctvs.
4 moneda(s) de a $0.01 ctvs.

--- Parcial I INGENIERIA EDU-ANA ---
1. Cálculo de Impuesto
2. Conversor de Área
3. Cajero Automático
4. Exit
Seleccione una opción: 4
Gracias por usar el programa.