<a href="https://colab.research.google.com/github/anitaRamirez1/PrograIII-2025/blob/main/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
print("bienvenidos chicos a progrmacin computacional III")

hola mundo
bienvenidos chicos a progrmacin computacional III

In [ ]:
nombre = "Anita Ramirez"
edad = 18
print("hola", nombre, edad)
edad = "quince"
print("tu edad es: ", edad)

hola Anita Ramirez 18
tu edad es:  quince

In [ ]:
num1 = 5
num2 = 5.5
suma = num1 + num2
print("la suma es: ", suma)

la suma es:  10.5

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
suma = num1 + num2
print("la suma es: ", suma)

num1: 5
num2: 5
la suma es:  10.0

In [ ]:
num1 = float(input("num1: "))
num2 = float(input("num2: "))
resta = num1 - num2
print("la resta es: ", resta)

num1: 5
num2: 5
la resta es:  0.0

In [1]:
def resta(num1, num2):
  return num1 - num2

In [2]:

a = float(input ("nuum1 "))
b = float(input("num2 "))
respuesta1 = resta(a,b)
print("la resta es: ", respuesta1)

nuum1 5
num2 3
la resta es:  2.0

In [3]:
#de celcius a farenhei
def celciusFarerenheit(c):
  return c*1.8 + 32

In [6]:
c = int(input("grados c: "))
f =celciusFarerenheit(c)
print("f : ", f)

grados c: 38
f :  100.4

In [ ]:
#de  farenhei a celcius

def FarerenheitCelcius(F):
  return (F - 32)* 0.555556
F = int(input("grados c: "))
c =FarerenheitCelcius(F)
print("c : ", c)

In [28]:
#de  farenhei a celcius y viceversa

def FarerenheitCelcius(F):
  return (F - 32)* 5/9
F = float(input("grados f: "))
c =FarerenheitCelcius(F)
print("c : ", c)


f =celciusFarerenheit(c)
print("f : ", f)

grados f: 100.4
f :  38.00003040000001
c :  100.40005472000001

In [29]:

def FarerenheitCelcius(F):
  return (F - 32)* 5/9


F = float(input("grados f: "))
c =FarerenheitCelcius(F)
print("c : ", c)

grados f: 100.4
c :  38.0

In [34]:
#grados celcius a kelin
def CelciusKelvin(c):
 return c +273.15
c = float(input("grados c: "))
k = CelciusKelvin(c)

print("k: ", k)

grados c: 35
k:  308.15

In [43]:
#calcular el sueldo de un empleado segun el numero de horas trabajadas yel valor por horas


def sueldo(numHrs, valorXhrs):
  sueldo = numHrs*valorXhrs * 30

  return sueldo

In [44]:
numHrs = float(input(" Hrs: "))
valorXhrs = float(input(" valor Hrs: "))
sueldo = sueldo(numHrs, valorXhrs)
print("sueldo: ", sueldo)

 Hrs: 8
 valor Hrs: 10
sueldo:  2400.0

In [49]:
#que permita elevar un numero a un exponente

def exponenciacion(b,e):
  return b**e


b = float(input("base "))
e = float(input("expnente "))
resultado = exponenciacion(b,e)
print("el numero ", b, "elevado a ", e, "el resultado es: ", resultado)

base 8
expnente 3
el numero  8.0 elevado a  3.0 el resultado es:  512.0